.nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu{
        li{
            text-decoration: none;
        }
    }
}

.gallery-init{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: calc(100vh - 4rem);
}
.ismo-container{
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 8rem calc(99vh - 12rem);
    
}
.ismo-artists{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    
}
.ismo-section{
    grid-row-start: 1;
    grid-row-end: 3;
}
.ismo-picture{
    display: flex;
    justify-content: center;
}
.ismo-title{
    //grid-column-start: 1;
    //grid-column-end: 5;
    
    text-align: center;
}
.artist{
    width: 320px;
    //padding: .25rem;
    background-image: url(/public/img/card_bg.png);
    
    background-position: left top;
    &:not(:last-child){
        margin-right: 4rem;
    }
}

.grid-gallery{
    display: grid;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    align-items: start;
    grid-gap: 1rem;
    padding: 1rem;

}

.column{
    display: flex;
    flex-direction: column;
    position: relative;
}
.cuadros-container{
    height: 90%;
    
}
.column-footer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.siglo-text{
    font-size: 3rem
}

.cuadro{
    text-decoration: none;
    display: block;
    color: inherit;
    width: 40%;
    &-img{
        width: 100%;
    }
    &-descripcion{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}


img{
    max-width: 100%;
    display: block;
}

//Estilos para cada cuadro

#neoclasicismo,
#romanticismo,
#impresionismo,
#puntillismo,
#simbolismo,
#fauvismo,
#cubismo,
#pop-art,
#postmodernismo{
    position: absolute;
    z-index: 100;
}
#neoclasicismo{
    left: 50%;
    top: 5%;
    width: 50%;
}
#romanticismo{
    left: 0;
    bottom: 8rem;
    transform: translateX(-8%)
}
#impresionismo{
    right: 0;
    width: 50%;
    top: 2rem;
}

#puntillismo{
    right: 0;
    transform: translateX(20%);
    bottom: 12rem;
    width: 50%;
}

#simbolismo{
    left: 0;
    top: 20rem;
    width: 50%;
    transform: translate(-70%);
}
#cubismo{
    left: 0;
    
    top: 18rem;
}
#pop-art{
    right: 50%;
    top: 2rem;
    transform: translateX(50%);
}
#postmodernismo{
    left: 0;
    bottom: 30%;
    width: 80%;
    transform: translateX(-30%); 
}

